.markets-modal-title {
  color: #000;
  font-size: 1.19869rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.024rem;
}

.markets-modal-description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.19869rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.024rem;
}
