.launch-app-container {
  display: flex;
  padding: 0.54688rem 0.98438rem;
  justify-content: center;
  align-items: center;
  gap: 0.4375rem;

  border-radius: 0.4375rem;
  background: #011a16;
  box-shadow: 0px 0.875px 1.75px 0px rgba(16, 24, 40, 0.05);
}

.safari-blur-fix {
  transform: translate3d(0, 0, 0);
  backdrop-filter: blur(32px) !important;
  -webkit-backdrop-filter: blur(32px) !important;
}
